:host {
    font-family: Arial, Helvetica, sans-serif
}

div {
    width: 100px; 
    height: 100px; 
}

div.red {
    background: lightcoral; 
    border: solid red 2px;
}

div.green {
    background: lightgreen;
    border: solid green 2px; 
}
